output-png/blank.gif
output-png/north-mini.png
output-png/zoombar.png
output-png/overview.png
output-png/zoom-minus-mini.png
output-png/east-mini.png
output-png/slider.png
output-png/zoom-plus-mini.png
output-png/layer-switcher-maximize.png
output-png/south-mini.png
output-png/zoom-world-mini.png
output-png/layer-switcher-minimize.png
output-png/west-mini.png
output-svg/ol_labeled_recolor.svg
output-svg/overview_recolor.svg
